.subWrap {
    padding-top: 15px;
    padding-bottom: 15px;
}

.subWrap-title {
    width: 100%;
    font-size: 1.5rem;
    padding-left: 15px;
}

.childDiv {
    padding-top: 15px;
    padding-bottom: 10px;
}