@font-face {
    font-family: 'ONE-Mobile-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: ONE-Mobile-Regular !important;
}

.modal {
  position: fixed;
  top: 50vh;
  left: 50vw;
  width: 100vw;
  transform: translate(-50%, -50%);
}
